.jumbotron{
	text-align: center;
}
p{
	text-align:  center;
}
 body {
    font-size: 15px;
    line-height: 1.42857143;
    color: #323232;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
     font-weight: bolder;
     ::placeholder {
  color: peachpuff;
  font-size: 13px;
}
.jumbotron1.id{
}